# Ignore compiled DLLs
*.dll

# Ignore build artifacts
build/
*.o
*.obj
*.exe

# Ignore macOS and Windows system files
.DS_Store
Thumbs.db

# Ignore IDE configs
.vscode/

# CMake build artifacts
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile